<h2>Ejemplo de ChangeDetection Strategy Default + Detach + Reattach</h2>

<!-- Este valor se verá en vivo, únicamente cuando se lo diga el padre
a través de un input
-->
<h3>Dato:{{randomDataProvider.data}}</h3>
