<h2>Ejemplo NgZone</h2>

<h3>Progreso: {{progreso}}%</h3>
<h4 *ngIf="progreso >= 100">
  Proceso terminado {{texto}} de Angular Zone
</h4>

<!-- Botones para hacer incrementos fuera o dentro de Angular Zone -->
<button (click)="procesarDentroAngularZone()">Incrementar DENTRO de NgZone</button>
<button (click)="procesarFueraAngularZone()">Incrementar FUERA de NgZone</button>
